* {
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
}
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(77, 166, 166);
}   
main {
    width: 100%;
    margin: 0px auto;
    border: 1px solid rgb(170, 170, 170);
}
header {
    padding-top: 15px;
    height: 200px;
    background-color: rgb(77, 166, 166);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    font-size: 1.7em;
}
nav {
    display: flex;
    margin-top: 15px;
    height: 40px;
    width: 100%;
    background-color: rgb(77, 166, 166);
    border: 0px solid rgb(170, 170, 170);
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
}

a {
    text-decoration: none;
}
.mailto {
    display: flex;
    justify-content: center;
    color: white;
}
.mailto:hover {
    color: rgb(77, 166, 166);
}
.li_link {
    transition: all .4s;
    width: 100%;
    padding: 20px;
}
.li_link:hover {
    background-color: rgb(77, 166, 166);    
}
.item_menu {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
ul {
    list-style: none;
}
.ul_links {
    z-index: 7;
    background-color:rgb(25, 100, 100);
    width: 100%;
    position: absolute;
    top: 0px;
    height: calc(100vh + 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    height: 0;
    overflow: hidden;
    transition: all .4s;

}
.check {
    display: none;
}
.check:checked + .ul_links {
    height: 42em;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(77, 166, 166);
    border-radius: 40px;
    height: 80px;
    width: 80px;
    z-index: 8;
}
.menu:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 40px;
    height: 80px;
    width: 80px;
}
section {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content:center;

}
article {
    width: 100%;
    color: rgb(114, 114, 114);
    margin: -16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    overflow: visible;   
    transition: all .3s;
}

.art1 {
    z-index: 6;
}

img {
    border-radius: 0px;
}
.textoPerfil {
    text-align: center;
    padding: 5px;
    
}
footer {
    margin-top: auto;
    padding: 15px;
    background-color: rgb(25, 100, 100);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.cajaISSRC {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}

#menuIcon {
    transition: all .2s;
}
#menuIcon:hover {
    transform: scale(0.75) rotate(180deg);
    fill: rgba(255, 255, 255, 0.6);   
}
@media (max-width: 680px) {
    
    article {
        overflow: scroll;
    }
}
